body{
  background-color: #d9ffb3;

}

h1 {
  color: #005266;
  text-align: center;
}



/*Table Format*/

.zui-table {
    border: solid 1px #08770c;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
   
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1.5px #08770c;
    color: #336B6B;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #08770c;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}

.zui-table-zebra tbody tr:nth-child(odd) {
    background-color: #fff;
}
.zui-table-zebra tbody tr:nth-child(even) {
    background-color: #EEF7EE;
}
.zui-table-horizontal tbody td {
    border-left: none;
    border-right: none;
}
.table-responsive
{
    overflow-x: auto;
}
/* Graph Body */



